* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "BravoRG";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ceremonious";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Idealist";
  font-display: swap;
  src: url("../fonts/Idealist Sans Regular.woff") format("woff"), url("../fonts/Idealist Sans Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PFDin";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-b";
  font-display: swap;
  src: url("../fonts/PTSans-Bold.woff") format("woff"), url("../fonts/PTSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PTSans-Italic";
  font-display: swap;
  src: url("../fonts/PTSans-Italic.woff") format("woff"), url("../fonts/PTSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PTSans";
  font-display: swap;
  src: url("../fonts/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  background-color: #1c242a;
  position: relative;
}

.header::before {
  content: '';
  width: 100%;
  height: 75px;
  background-color: #1c242a;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  z-index: 30;
}

.header__container {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 31;
}

.header__menu.active {
  transform: translateY(0);
}

.header__list {
  display: flex;
}

.header__list li {
  margin-right: 18px;
}

.header__list li:last-child {
  margin-right: 0;
}

.header__link,
.actions-header__region {
  text-transform: uppercase;
  color: #fff;
}

.header__actions {
  display: flex;
  align-items: center;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 20px;
  display: none;
  z-index: 60;
}

.header__burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 9px;
  transition: 1s;
}

.header__burger:before,
.header__burger:after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: 1s;
}

.header__burger:before {
  top: 0;
}

.header__burger:after {
  bottom: 0;
}

.header__burger.rotate span {
  transform: scale(0);
}

.header__burger.rotate:after {
  transform: rotate(45deg);
  bottom: 9px;
}

.header__burger.rotate:before {
  transform: rotate(-45deg);
  top: 9px;
}

.actions-header__region {
  cursor: pointer;
  min-width: 18px;
  min-height: 18px;
  background: url("../img/globe.png") left no-repeat;
  padding-left: 30px;
}

.actions-header__region span {
  line-height: 21px;
  display: inline-block;
}

.actions-header__user {
  margin-left: 25px;
  cursor: pointer;
  position: relative;
  z-index: 31;
}

.user-actions-header__list {
  background-color: #1c242a;
  position: absolute;
  top: 90px;
  right: 0;
  padding: 20px;
  transition: 1.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  width: 200px;
}

.user-actions-header__list li {
  margin-bottom: 12px;
}

.user-actions-header__list li:last-child {
  margin-bottom: 0;
}

.user-actions-header__list.open {
  opacity: 1;
  visibility: visible;
  top: 70px;
}

.user-actions-header__link {
  color: #fff;
  font-family: "PTSans";
  padding-left: 29px;
}

.user-actions-header__link_1 {
  background: url("../img/globe.png") left no-repeat;
}

.user-actions-header__link_2 {
  background: url("../img/key.png") left no-repeat;
}

.user-actions-header__link_3 {
  background: url("../img/palm.png") left no-repeat;
}

.user-actions-header__link_4 {
  background: url("../img/hammer.png") left no-repeat;
}

.footer {
  background-color: #1c242a;
}

.footer__container {
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__container:after {
  content: '';
  min-height: inherit;
  font-size: 0;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer__menu {
  flex: 1 1 47%;
  padding-left: 30px;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
}

.footer__list li {
  margin-right: 17px;
}

.footer__list li:last-child {
  margin-right: 0;
}

.footer__link {
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
}

.logo-footer__link {
  margin-bottom: 29px;
  display: inline-block;
}

.logo-footer__text {
  font-family: "PTSans";
  color: #bb9c66;
}

.feetback-footer {
  color: #bb9c66;
}

.feetback-footer__number {
  font-family: "BravoRG";
  font-size: 50px;
  display: flex;
  margin-bottom: 14px;
}

.feetback-footer__number span {
  font-size: 25px;
  align-self: flex-start;
}

.feetback-footer__text {
  font-family: "PTSans";
  display: inline-block;
  background: url("../img/icons/back.svg") left no-repeat;
  padding-left: 20px;
}

.feetback-footer__text span {
  border-bottom: 1px dashed #bb9c66;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.btn {
  height: 50px;
  position: relative;
}

.btn:before,
.btn:after {
  content: '';
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
}

.btn:before {
  background-color: #906731;
  bottom: 0;
}

.btn:after {
  background-color: #c2a673;
  top: 0;
}

.btn span {
  width: 100%;
  height: 100%;
  padding: 0 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn span:before,
.btn span:after {
  content: '';
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
}

.btn span:before {
  background-color: #906731;
  left: 0;
  background: linear-gradient(to bottom, #c2a673, #906731);
}

.btn span:after {
  background-color: #c2a673;
  right: 0;
  background: linear-gradient(to bottom, #c2a673, #906731);
}

.block-header {
  text-align: center;
}

.block-header__title {
  font-size: 40px;
  color: #bb9c66;
  font-family: "ceremonious";
  margin-bottom: 38px;
}

.block-header__subtitle {
  font-size: 35px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.block-header__subtitle_b {
  color: #000;
}

.block-header__decor {
  display: flex;
  justify-content: center;
}

.block-decor__items {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
}

.block-decor__items_r {
  flex-direction: row-reverse;
}

.block-decor__items:before {
  content: '';
  height: 1px;
  width: 100%;
  background-color: #bb9c66;
  flex: 1 1 auto;
}

.block-decor__items:after {
  content: '';
  width: 18.75px;
  height: 18.75px;
  border: 1px solid #bb9c66;
  transform: rotate(45deg);
  flex: 0 0 18.75px;
  margin: 0 5px;
}

.block-decor__items span {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.block-decor__items span:before {
  content: '';
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
  margin: 0 5px;
}

.block-decor__items span:after {
  content: '';
  width: 11.25px;
  height: 11.25px;
  border: 1px solid #bb9c66;
  transform: rotate(45deg);
  flex: 0 0 11.25px;
}

.block-decor__icon {
  flex: 0 0 145px;
}

.reverse {
  flex-direction: row-reverse;
}

body {
  font-family: "PFDin";
  font-weight: 400;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-slider {
  position: relative;
}

.main-slider__item {
  padding: 35px 0 100px 0;
  cursor: grab;
  position: relative;
}

.main-slider .slick-slider {
  overflow-x: hidden;
}

.main-slider .slick-track {
  display: flex;
}

.main-slider__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

.main-slider__control:before {
  content: '';
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.item__container {
  height: 100%;
}

.item__body {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.item__title {
  font-size: 40px;
  color: #bb9c66;
  font-family: "ceremonious";
  margin-bottom: 35px;
  position: relative;
  z-index: 5;
}

.item__subtitle {
  text-transform: uppercase;
  color: #fff;
  line-height: 35px;
  margin-bottom: 32px;
  position: relative;
  z-index: 5;
  letter-spacing: 0.15em;
}

.item__text {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  font-family: "PTSans";
  position: relative;
  z-index: 5;
  max-width: 690px;
  margin: 0 auto;
  flex: 1 1 auto;
}

.item__button {
  position: relative;
  z-index: 5;
  font-size: 15px;
  font-family: "Idealist";
  color: #fff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  align-self: center;
  margin-top: 58px;
}

.item__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-main-slider__main {
  width: 25px;
  height: 25px;
  border: 5px solid #bc9e68;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  margin-right: 12px;
}

.control-main-slider__arrow {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.control-main-slider__arrow_l {
  margin-right: 12px;
}

.lots {
  padding: 86px 0 32px 0;
}

.lots__row {
  padding-top: 50px;
  margin: 0 -50px;
  cursor: grab;
}

.lots__row .slick-list {
  overflow-x: hidden;
}

.lots__row .slick-track {
  display: flex;
}

.lots__column {
  padding: 0 50px;
  margin-bottom: 50px;
}

.lots__control {
  display: flex;
  justify-content: center;
}

.item-lot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-lot__header {
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 30px;
}

.item-lot__title {
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index: 15;
  margin-bottom: 37px;
  flex: 1 1 auto;
}

.item-lot__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
}

.item-lot__current {
  position: relative;
}

.item-lot__current:before {
  content: '';
  width: 80px;
  height: 80px;
  border: 1px solid #c6ac7f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.item-lot__button {
  font-size: 21px;
  font-weight: 500;
  color: #000;
  align-self: center;
  text-transform: uppercase;
}

.header-item-lot__body {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-item-lot__body:before {
  content: '';
  width: 70%;
  height: 70%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, 50%) rotate(-45deg);
}

.header-item-lot__icon {
  position: relative;
  z-index: 11;
  margin-top: 15px;
}

.header-item-lot__time {
  position: relative;
  z-index: 11;
  margin-top: 10px;
}

.header-item-lot__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 4px solid #bb9c66;
}

.stat {
  text-align: center;
  padding: 0 10px;
}

.stat__icon {
  margin-bottom: 8px;
}

.stat__value {
  border-bottom: 1px solid #bb9c66;
}

.current-item-lot {
  text-align: center;
}

.current-item-lot__title {
  font-family: "PTSans";
  position: relative;
  z-index: 10;
}

.current-item-lot__value {
  font-family: "BravoRG";
  font-size: 50px;
  position: relative;
  z-index: 10;
}

.control-lots__main {
  width: 100px;
  height: 100px;
  font-size: 21px;
  border: 3px solid #b4945e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.control-lots__arrow {
  flex: 0 1 126px;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 25px;
  cursor: pointer;
}

.control-lots__arrow_l {
  transform: rotate(180deg);
  margin-right: 25px;
  margin-left: 0;
}

.control-lots__arrow span {
  flex: 1 1 auto;
  height: 2px;
  background-color: #bd9e6a;
}

.control-lots__arrow span:before,
.control-lots__arrow span:after {
  content: '';
  border: solid #bd9e6a;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: 38px;
}

.control-lots__arrow span:before {
  right: 0;
}

.control-lots__arrow span:after {
  right: 10px;
}

.categories__container {
  overflow-x: hidden;
  position: relative;
}

.categories__container:after {
  content: '';
  width: 100%;
  height: 45px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
}

.categories__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
  position: relative;
  padding-top: 37px;
}

.categories__row:before,
.categories__row:after {
  content: '';
  width: 17.28px;
  height: 17.28px;
  border: 1px solid #bb9c66;
  transform: translate(-50%, 0) rotate(45deg);
  margin-top: 15px;
  position: absolute;
  top: 0;
  left: 66.667%;
}

.categories__row:before {
  left: 33.333%;
}

.categories__column {
  flex: 0 1 33.333%;
  max-width: 33.333%;
  padding: 0 50px 25px;
  margin-bottom: 25px;
  position: relative;
  display: flex;
  justify-content: center;
}

.categories__column:before {
  content: '';
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin: 0;
}

.categories__category {
  overflow: hidden;
  height: 250px;
  padding: 30px 10px 40px 10px;
  width: 250px;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.categories__decor {
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: calc(100% + 9px);
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 5;
}

.categories__decor:before {
  content: '';
  width: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories__decor:after {
  content: '';
  width: 17.28px;
  height: 17.28px;
  border: 1px solid #bb9c66;
  transform: rotate(45deg);
  margin-top: 15px;
}

.categories__decor span {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
}

.categories__decor span:before {
  content: '';
  background-color: #bb9c66;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 20px 0;
}

.categories__decor span:after {
  content: '';
  width: 1px;
  flex: 1 1 auto;
  background-color: #bb9c66;
}

.categories__text {
  color: #333333;
  font-size: 15px;
  padding: 100px 0 100px 125px;
  background: url("../img/pattern.png") left no-repeat;
}

.categories__text p {
  margin-bottom: 25px;
  line-height: 25px;
}

.categories__text p:last-child {
  margin-bottom: 0;
}

.category__icon {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.category__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 46px;
}

.category__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  border-radius: 50%;
  overflow: hidden;
}

.category__decor {
  position: relative;
  z-index: 2;
}

.category__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category__bg:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.services {
  padding: 53px 0 60px 0;
  background-color: #1c242a;
}

.services__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -50px;
  padding-top: 48px;
}

.services__column {
  flex: 0 1 33.333%;
  max-width: 33.333%;
  padding: 0 50px;
  margin-bottom: 40px;
}

.services__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.item-services__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 205px;
}

.item-services__title {
  font-weight: 500;
  color: #fff;
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 35px;
  letter-spacing: 2.1px;
  flex: 1 1 auto;
  line-height: 25px;
}

.item-services__text {
  font-size: 15px;
  line-height: 25px;
  color: #bb9c66;
  font-family: "PTSans";
  margin-bottom: 37px;
}

.item-services__button {
  display: inline-block;
  color: #fff;
  font-size: 21px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  position: relative;
}

.item-services__button:before,
.item-services__button:after {
  content: '';
  width: 50px;
  height: 2px;
  background-color: #bb9c66;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.item-services__button:before {
  left: 0;
}

.item-services__button:after {
  right: 0;
}

.quotes {
  padding: 65px 0 35px 0;
}

.quotes__row {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.quotes__img {
  flex: 0 0 33.68421%;
  padding: 0 20px;
}

.quotes__img img {
  max-width: 100%;
}

.quotes__decor {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-quotes__quote {
  font-size: 25px;
  line-height: 30px;
  font-family: "PTSans-Italic";
  margin-bottom: 38px;
}

.author {
  font-size: 15px;
  line-height: 25px;
  font-family: "PTSans";
}

.decor-quotes__items {
  flex: 0 1 124px;
  display: flex;
  align-items: center;
}

.decor-quotes__items:before {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #bb9c66;
}

.decor-quotes__items span {
  width: 10px;
  height: 10px;
  flex: 0 0 10px;
  border: 1px solid #bb9c66;
  border-radius: 50%;
  margin-left: 15px;
}

.decor-quotes__items_r {
  flex-direction: row-reverse;
}

.decor-quotes__items_r span {
  margin-left: 0;
  margin-right: 15px;
}

.decor-quotes__icon {
  flex: 0 0 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.decor-quotes__icon:hover {
  animation: rotate 1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.block-news-events {
  padding: 35px 0;
}

.block-news-events__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -22px;
}

.block-news-events__column {
  flex: 0 1 50%;
  max-width: 50%;
  padding: 0 22px;
}

.item-news-events__title,
.subscription__title {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 33px;
  line-height: 25px;
  letter-spacing: 0.1em;
  padding-left: 37px;
}

.item-news-events__title_n {
  background: url("../img/icons/news.svg") left no-repeat;
}

.item-news-events__title_e {
  background: url("../img/icons/events.svg") left no-repeat;
}

.item-news-events__elem {
  margin-bottom: 40px;
}

.elem {
  font-family: "PTSans";
  font-size: 15px;
  color: #333333;
}

.elem__date {
  font-size: 12px;
  color: #bb9c66;
  margin-bottom: 14px;
}

.elem__title {
  text-decoration: underline;
  font-family: "PTSans-b";
  line-height: 25px;
}

.elem__text {
  line-height: 25px;
}

.subscription {
  padding: 35px 0 45px 0;
}

.subscription__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -50px;
}

.subscription__column {
  flex: 0 1 50%;
  max-width: 50%;
  padding: 0 50px;
}

.subscription__title {
  background: url("../img/icons/subscription.svg") left no-repeat;
}

.subscription__text {
  font-family: "PTSans";
  font-size: 15px;
  color: #333333;
}

.subscription__form {
  height: 100%;
  display: flex;
}

.form {
  display: flex;
  align-self: flex-end;
  border: 4px solid #bb9c66;
  width: 100%;
}

.form__input {
  flex: 1 1 350px;
}

.form__input input {
  width: 100%;
  height: 50px;
  padding-left: 20px;
}

.form__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__button button {
  height: 32px;
  width: 95px;
  border-left: 1px solid #bb9c66;
  background-color: transparent;
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
}

.form__button button span {
  background: url("../img/icons/arrowForm.svg") right no-repeat;
  padding-right: 30px;
}

@media (min-width: 767px) {
  .item__subtitle {
    font-size: calc(25px + 10 * (100vw / 1920));
  }
}

@media (max-width: 975px) {
  .categories__row:before {
    left: 50%;
  }

  .categories__row:after {
    display: none;
  }

  .categories__column {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 960px) {
  .services__column {
    flex: 0 1 50%;
    max-width: 50%;
  }
}

@media (max-width: 890px) {
  .subscription__column {
    flex: 1 1 auto;
    max-width: 100%;
  }

  .subscription__text {
    margin-bottom: 25px;
  }
}

@media (max-width: 809px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 40px;
  }

  .footer__menu {
    margin-bottom: 40px;
    padding-left: 0;
  }

  .footer__list {
    justify-content: center;
  }
}

@media (max-width: 790px) {
  .actions-header__region span {
    display: none;
  }

  .actions-header__user {
    margin-left: 15px;
  }
}

@media (max-width: 767px) {
  .item__subtitle {
    font-size: calc(25px + 17 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 754px) {
  .categories__text {
    background: none !important;
    padding-left: 0;
  }
}

@media (max-width: 737px) {
  .block-news-events__column {
    flex: 1 1 auto;
    max-width: 100%;
  }
}

@media (max-width: 680px) {
  .quotes__row {
    flex-direction: column;
  }

  .quotes__decor {
    margin-top: 50px;
  }
}

@media (max-width: 650px) {
  .categories__column {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

@media (max-width: 645px) {
  .header::before {
    display: block;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c242a;
    z-index: 20;
    transform: translateY(-100%);
    overflow: auto;
    transition: 1s;
    padding-top: 120px;
  }

  .header__list li {
    margin-bottom: 30px;
    margin-right: 0;
  }

  .header__list li:last-child {
    margin-bottom: 0;
  }

  .header__list {
    flex-direction: column;
    align-items: center;
  }

  .header__link,
  .actions-header__region {
    font-size: 30px;
  }

  .header__burger {
    display: block;
  }

  .actions-header__region span {
    display: block;
  }
}

@media (max-width: 640px) {
  .block-decor__icon {
    flex: 0 0 100px;
  }
}

@media (max-width: 620px) {
  .services__column {
    flex: 1 1 auto;
    max-width: 100%;
  }
}

@media (max-width: 419px) {
  .control-lots__arrow {
    flex: 0 1 50px;
  }
}

.webp .actions-header__region { background: url(../img/globe.webp) left no-repeat; }

.webp .user-actions-header__link_1 { background: url(../img/globe.webp) left no-repeat; }

.webp .user-actions-header__link_2 { background: url(../img/key.webp) left no-repeat; }

.webp .user-actions-header__link_3 { background: url(../img/palm.webp) left no-repeat; }

.webp .user-actions-header__link_4 { background: url(../img/hammer.webp) left no-repeat; }

.webp .categories__text { background: url(../img/pattern.webp) left no-repeat; }